div.ext_feedback {
    position: absolute;
    width: 100px;
    height: 100px;
    width: 100px;
    margin: 5px;
    padding: 10px;
    top: 0px;
    left: 0px;
    background-color: aqua;
    z-index: 127;
}
