div.ext_feedback {
    position: absolute;
    margin: 5px;
    padding: 10px;
    top: 0px;
    left: 0px;
    background-color: rgb(226, 226, 226);
    border: dashed rgb(0, 0, 0) 2px;
    z-index: 127;
}

div.ext_feedback > a {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

div.ext_feedback:after {
    border: solid transparent;
    content: '';
    height: 0px;
    width: 0px;
    border-top-width: 15px;
    border-bottom-width: 15px;
    border-left-width: 30px;
    border-right-width: 30px;
    pointer-events: none;
    position: absolute;
    margin-top: -10px;
    border-right-color: rgb(0, 0, 0);
    right: 100%;
    top: 30%;
}
