div.ext_feedback {
    position: absolute;
    margin: 5px;
    padding: 10px;
    top: 0px;
    left: 0px;
    background-color: rgb(226, 226, 226);
    border: dotted black 1px;
    z-index: 127;
}
